<!-- configuration for logback http://logback.qos.ch/ -->
<configuration debug="false">
    <!-- logs to console -->
    <appender name="APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%highlight([%d{HH:mm:ss}] [%level] [%logger{10} %file:%line] %msg) %n</pattern>
        </encoder>
    </appender>
    <!-- default logging level -->
    <root level="info">
        <!-- reference to the used appender -->
        <appender-ref ref="APP"/>
    </root>
    <!-- list of logger prefixes with non-default logging levels -->
    <logger name="org" level="warn"/>
    <logger name="com.querydsl" level="warn"/>
</configuration>