<div class="container-fluid">
  <div class="menu">
    <h1 class="logo"><a title="Rubybooru" href="/"><span>Rubybooru</span></a></h1>
    <app-menu></app-menu>
    <app-search-bar></app-search-bar>
    <router-outlet name="sidebar"></router-outlet>
    <!--<app-tag-list [tags]="test"></app-tag-list>-->
  </div>
  <div class="content">
    <!--<app-image-gallery [images]="images"></app-image-gallery>-->
    <router-outlet name="main"></router-outlet>
    <!--<app-pagination [actualPage]="1" [pages]="500"></app-pagination>-->
  </div>
</div>
