<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4 menu">
      <h1 class="logo"><a title="Rubybooru" href="/"><span>Rubybooru</span></a></h1>
      <div class="search">
        <form>
          <label for="searchInput">Search</label>
          <input id="searchInput" placeholder="Oppai">
        </form>
      </div>
      <ul class="tags">
        <li class=""></li>
      </ul>
    </div>
    <div class="col-lg-10 col-md-9 col-sm-8 content">
      <div class="row">
        <div
          *ngFor="let item of arrayOne(40); let i = index;"
          class="img col-xl-2 col-lg-3 col-md-3 col-sm-4"
        >

        </div>
      </div>
    </div>
  </div>
</div>
