<div class="container-fluid">
  <div class="menu">
    <h1 class="logo"><a title="Rubybooru" href="/"><span>Rubybooru</span></a></h1>
    <nav>
      <ul>
        <li><a href="#list">Folders</a></li>
        <li><a href="#list">New link</a></li>
      </ul>
    </nav>
    <div class="search">
      <form>
        <label for="searchInput">Search</label>
        <input id="searchInput" placeholder="kurosawa_ruby">
        <select id="searchOrder">
          <option>Newest</option>
          <option>Oldest</option>
          <option>Size</option>
          <option>Width</option>
          <option>Height</option>
        </select>
      </form>
    </div>
    <ul class="tags">
      <li *ngFor="let type of tagTypes" [class]="type">
        <a href="#">
          <fa-icon [icon]="faSquare"></fa-icon>
          ore_no_imouto_ga_konnani_kawaii_wake_ga_nai <span>(1289)</span></a>
      </li>
    </ul>
  </div>
  <div class="content">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#files"><fa-icon [icon]="faFolder"></fa-icon></a>
          D
        </li>
        <li class="breadcrumb-item">Japan</li>
        <li class="breadcrumb-item"><a href="#">Obrazky</a></li>
        <li class="breadcrumb-item"><a href="#">Sort</a></li>
        <li class="breadcrumb-item"><a href="#">Obrazky</a></li>
        <li class="breadcrumb-item active" aria-current="page">Danganronpa Kibou no Gakuen to Zetsubou no Koukousei - The Animation</li>
      </ol>
    </nav>
    <div class="row">
      <div *ngFor="let item of arrayOne(23); let i = index;"
           class="col-xl-2 col-lg-3 col-md-3 col-sm-4 img-container">
        <div class="img">
          <div>
            <a class="img-link" href="#imgPage">
              <img
                [src]="i % 2 == 0 ? 'https://konachan.com/jpeg/73003604f9dc0df192c3de503efc80f5/Konachan.com%20-%20271291%20ama_mitsuki%20brown_hair%20long_hair%20original%20panties%20seifuku%20sleeping%20tie%20underwear.jpg' : 'https://files.yande.re/sample/851a9a1822ced177e3846c4c912489cd/yande.re%20484974%20sample%20bra%20breast_hold%20cameltoe%20feet%20hamakaze_%28kancolle%29%20ipuu_%28el-ane_koubou%29%20kantai_collection%20open_shirt%20pantsu%20seifuku.jpg'">
            </a>
            <a class="download-link" href="#download">1960x1960</a>
          </div>
        </div>
      </div>
    </div>
    <nav class="paginator">
      <a class="btn" href="#xe"><fa-icon [icon]="faAngleDoubleLeft"></fa-icon></a>
      <a class="btn disabled">1</a>
      <a class="btn" href="#xe">2</a>
      &hellip;
      <a class="btn" href="#xe">560</a>
      <a class="btn" href="#xe">562</a>
      <a class="btn active" href="#xe">563</a>
      <a class="btn" href="#xe">564</a>
      <a class="btn" href="#xe">565</a>
      <a class="btn" href="#xe"><fa-icon [icon]="faAngleDoubleRight"></fa-icon></a>
    </nav>
  </div>
</div>
