@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'variables';

html {
  font-size: 62.5%;
}

body {
  background: @backgroundColor;
  color: @textColor;
}

.logo {
  margin: 10px auto 0;
  max-width: @logoWidth;
  a {
    @r: 0.7;
    display: block;
    max-height: @logoHeight;
    width: 100%;
    padding-top: 100% * (@logoHeight / @logoWidth);
    background: url(@logoUrl);
    background-size: cover;
    span {
      display: none;
    }
  }
}

.menu {
  width: @menuWidth;
  float: left;

  nav {
    font-size: 1.5rem;
    ul {
      padding: 0;
      margin: 0 0 1rem;
      list-style: square;
      text-align: center;
      li {
        &::before {
          content: '\25A0';
          display: inline-block;
          font-size: 1rem;
          padding: 4px .7rem 0;
          vertical-align: top;
        }
        &:first-child::before {
          display: none;
        }
        color: @darkenLightPink;
        display: inline-block;
        a {
          color: @lightPink;
        }
      }
    }
  }

  .search {
    form {
      label {
        display: none;
      }
      input, select {
        float: left;
        border: 1px solid @darkPink;
        background: lighten(@lightPink, 20%);
        color: @darkPink;
        font-size: 1.2rem;
      }
      @selectWidth: 70px;
      input {
        width: calc(100% - @selectWidth);
        padding: 0 5px;
        border-radius: @borderRadius 0 0 @borderRadius;
      }
      select {
        width: @selectWidth;
        border-left: none;
        border-radius: 0 @borderRadius @borderRadius 0;
      }
    }
  }

  .info {
    font-size: 1.3rem;
    clear: both;;
    padding: .5rem 1rem 0;
    .line {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    strong {
      color: @textColor;
    }
    .line.link {
      color: @lightPink;
    }
    a {
      color: @lightPink;
    }
  }

  .tags {
    clear: both;
    list-style: none;
    padding: 5px 0 0 10px;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      color: @lightPink;

      &.copyright {
        color: @copyrightColor;
      }
      &.circle {
        color: @circleColor;
      }
      &.character {
        color: @characterColor;
      }
      &.meta {
        color: @metaColor;
      }
      &.medium {
        color: @mediumColor;
      }
      &.studio {
        color: @studioColor;
      }
      &.style {
        color: @styleColor;
      }
      &.source {
        color: @sourceColor;
      }
      &.faults {
        color: @faultsColor;
      }

      fa-icon {
        vertical-align: middle;
        font-size: 1rem;
        margin-right: 5px;
      }

      a {
        font-size: 1.2rem;
        color: inherit;
        text-decoration: none;
        span {
          color: @textColor;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.content {
  width: calc(100% - @menuWidth);
  float: right;
  padding: 2rem;
  .img-container {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    .img {
      display: inline-block;
      margin: 0 1rem 2rem 1rem;

      &>div {
        display: inline-block;
      }

      .img-link {
        display: inline-block;
        border: 3px solid @darkenLightPink;
        img {
          max-width: 100%;
          max-height: @maxMiniHeight;
        }

        &:hover {
          border-color: @lightPink;
        }
      }
      .download-link {
        font-size: 1.1rem;
        opacity: .6;
        color: @lightPink;
        width: 100%;
        display: block;
        background: @darkBg;
      }

      &:hover {
        .download-link {
          opacity: 1;
        }
      }
    }
  }

  a.folder-container {
    display: block;
    font-size: 1.4rem;
    text-align: center;
    color: @lightPink;
    border: 1px solid @lightPink;
    background: @darkBg;
    border-radius: 5 * @borderRadius;
    height: calc(100% - 1rem);
    margin-bottom: 1rem;
    opacity: .6;
    text-decoration: none;

    &.dotted {
      padding: 3rem;
    }

    &:active, &:focus {
      opacity: .8;
    }
    &:hover, &.active {
      opacity: 1;
    }
    fa-icon {
      display: block;
      margin: 0 auto;
      font-size: 6rem;
    }
    span {
      display: block;
    }
  }

  .img-view {
    text-align: center;
    img {
      cursor: pointer;
      &.mini {
        max-width: 100%;
        max-height: calc(100vh);
      }
    }
  }

  nav .breadcrumb {
    font-size: 1.4rem;
    background: @darkBg;
    color: @textColor;
    .active {
      color: @textColor;
    }
    a {
      color: @darkenLightPink;
      &:hover, &:focus, &:active {
        color: @lightPink;
      }
    }
  }

  nav.paginator {
    text-align: center;
    font-size: 1.4rem;
    a {
      font-size: 1.4rem;
      display: inline-block;
      margin: 0 .3rem;
      color: @lightPink;
      border: 1px solid @lightPink;
      border-radius: @borderRadius;
      background: @darkBg;
      opacity: .6;
      &:active, &:focus {
        opacity: .8;
      }
      &:hover, &.active {
        opacity: 1;
      }
      &.disabled {
        border-color: gray;
        color: gray;
      }
    }
  }
}

@import 'responsive';
