@backgroundColor: #222;
@textColor: #fff;

@logoWidth: 426px;
@logoHeight: 167px;
@logoUrl: "../assets/logo.png";

@lightPink: #FF7C8F;
@darkPink: #973363;

/**
 * Bootstrap
 */
@smMax: 540px;
@mdMax: 720px;
@lgMax: 960px;
@xlMag: 1140px;
